@font-face {
  /*Regular두께*/
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  /*Bold두께*/
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-display: swap;
}
.bookCover-detailPage {
  width: 150px;
  height: 225px;
  border-radius: 6px;
  margin: 20px;
}
.bookInformation {
  flex-direction: column;
}
.BookDetailPagesCard {
  display: flex;
  background-color: #fff;
  border-radius: 12px;
  width: 78%;
  height: auto; /*상자의 크기가 텍스트 크기 만큼 늘어나게*/
  margin-left: 9%;
  margin-top: 30px;
  margin-bottom: 20px;
  padding-bottom: 30px;
  font-family: "Pretendard", sans-serif; /*폰트 지정*/
  font-size: 16px;
  color: #222;
  box-shadow: 1px 1px 5px 1px #dee2e6; /*그림자를 만들어서 경계선 명확하게 하기*/
}
.bookName {
  font-weight: bold;
  font-size: 32px;
  color: #437355;
  margin-bottom: 8px;
  margin-top: 20px;
  white-space: nowrap; /* 자동 줄바꿈 방지 */
}
.writer {
  font-weight: bold;
  color: #437355;
}
.writerCard {
  margin-top: 3px;
  margin-left: 10px;
  margin-bottom: 50px; /*작품 바로보기 링크와의 간격 띄우기*/
  padding-left: 5px;
  color: #606964;
}
.writerText {
  line-height: 10px;
}
.otherStoryLineCard {
  display: none;
}
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + label {
  /*글자(작품 소개)만 클릭해도 동작한다*/
  margin-top: 73px;
  margin-left: 30px;
  color: #606964;
  width: 40%;
  cursor: pointer; /*마우스 커서를 가져다 대었을때 손가락 모양으로 바꿔주는 코드*/
}
#StoryName {
  color: #437355;
  font-family: "Pretendard", sans-serif; /*폰트 지정*/
  font-weight: bold;
  display: flex;
  flex-direction: column;
}
input[type="checkbox"]:checked ~ .otherStoryLineCard {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
  margin-left: 30px;
}
input[type="checkbox"]:checked + label #StorySome {
  display: none;
}
input[type="checkbox"]:checked + label #more {
  display: none;
}
#more {
  color: #606964b1;
}
#StoryInformationCard {
  display: flex;
  flex-direction: column;
}
#BookMemoCard {
  background-color: #fff;
  border-radius: 12px;
  margin-left: 9%;
  width: 78%;
  height: auto;
  padding-top: 2px;
  box-shadow: 1px 1px 5px 1px #dee2e6; /*그림자를 만들어서 경계선 명확하게 하기*/
}
textarea {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 95%;
  resize: none;
  border: none;
  font-family: "Pretendard", sans-serif; /*폰트 지정*/
  font-size: 16px;
  color: #222;
}
textarea:focus {
  outline-color: #437355;
}
#memo {
  font-family: "Pretendard", sans-serif; /*폰트 지정*/
  font-size: 16px;
  color: #437355;
  font-weight: bold;
  margin: 20px;
}

.bookCard {
  /*카테고리 페이지의 카드와 같은 속성*/
  background-color: #fff;
  display: inline-flex;
  margin-top: 20px;
  margin-left: 1%;
  width: 36%;
  height: 225px;
  color: #222;
  padding: 15px;
  border-radius: 12px;
  font-family: "Pretendard", sans-serif; /*폰트 지정*/
  box-shadow: 1px 1px 5px 1px #dee2e6; /*그림자를 만들어서 경계선 명확하게 하기*/
}
.bookName {
  font-size: 20px;
  color: #437355;
  font-family: "Pretendard", sans-serif; /*폰트 지정*/
  font-weight: bold;
}
.bookCover {
  width: 150px;
  height: 225px;
  border-radius: 6px;
}
.bookCardText p {
  display: flex;
  align-items: left;
  flex-direction: column;
  margin-left: 15px;
}
.bookCardText-notName {
  font-family: "Pretendard", sans-serif; /*폰트 지정*/
  font-size: 16px;
  color: #222;
}
.DetailPagesLink {
  text-decoration: none; /*밑줄 삭제*/
}
.margin2 {
  /*왼쪽에 있는 작품 카드*/
  background-color: #fff;
  display: inline-flex;
  margin-top: 20px;
  margin-left: 9%;
  margin-bottom: 5px;
  width: 36%;
  height: 225px;
  color: #222;
  padding: 15px;
  border-radius: 12px;
  font-family: "Pretendard", sans-serif; /*폰트 지정*/
  box-shadow: 1px 1px 5px 1px #dee2e6; /*그림자를 만들어서 경계선 명확하게 하기*/
}
.similarBooks {
  margin-bottom: 40px;
}
.similarBooksName {
  font-family: "Pretendard", sans-serif; /*폰트 지정*/
  color: #437355;
  font-size: 22px;
  font-weight: bold;
  margin-left: 12%;
  margin-top: 20px;
  margin-bottom: 0px;
}
.original {
  font-weight: bold;
  color: #437355;
  padding: 10px;
  background-color: #e2ece6;
  display: inline;
  border-radius: 12px;
}
#bookLink {
  text-decoration: none; /*밑줄 삭제*/
  font-family: "Pretendard", sans-serif; /*폰트 지정*/
  font-size: 16px;
  font-weight: bold;
  color: #437355;
  background-color: #e2ece6;
  padding: 7px;
  border-radius: 12px;
}
#leftBox {
  width: 19%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  position: fixed;
  top: 0;
  bottom: -1;
  left: 0;
  z-index: -1;
  opacity: 0.1;
}
#rightBox {
  width: 19%;
  height: 100%;
  margin: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  opacity: 0.1;
}
#recommendOfbook {
  background-color: #fff;
  border-radius: 12px;
  width: 78%;
  height: auto;
  padding: 2px;
  margin-left: 9%;
  margin-bottom: 20px; /*추천 카드와 메모 카드 사이의 마진*/
  box-shadow: 1px 1px 5px 1px #dee2e6; /*그림자를 만들어서 경계선 명확하게 하기*/
}
#recommendText1 {
  font-family: "Pretendard", sans-serif; /*폰트 지정*/
  font-size: 16px;
  color: #437355;
  font-weight: bold;
  margin: 20px;
}
#recommendTextMain {
  font-family: "Pretendard", sans-serif; /*폰트 지정*/
  font-size: 16px;
  color: #222;
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  line-height: 23px; /*줄 간격 띄우기*/
}
