body {
  /* 브라우저 자체의 기본 여백을 완전히 없애기*/
  margin: 0;
  padding: 0;
  background-color: #f4f3ef;
}
@font-face {
  font-family: "OkMallangB";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2603-1@1.0/OkMallangB-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-display: swap;
}
.home {
  text-decoration: none; /*밑줄 없애는 코드*/
  cursor: pointer; /*마우스 커서를 가져다 대었을때 손가락 모양으로 바꿔주는 코드*/
  font-family: "OkMallangB", sans-serif;
  font-size: 22px;
  color: #fff;

  /* 버튼 기본 틀 제거 */
  border: none;
  background: none; /* background-color: none 대신 background: none이 정확합니다. */
  padding: 0;

  /* 세로 정렬은 헤더가 해주므로 마진은 0으로 바꾸셔도 됩니다. */
  margin: 0;
}

.header {
  width: 100%; /*화면을 줄이거나 키워도 항상 채워지도록*/
  height: 80px; /*화면 크기가 변해도 바뀌지 않을 값*/
  background-color: #437355;
  margin: 0; /* body 여백을 없앴으므로 여기는 0이어도 딱 붙습니다. */

  /* 세로 가운데 정렬을 위한 Flexbox 추가 */
  display: flex;
  align-items: center;
  padding-left: 8%; /* 글자가 왼쪽 벽에 너무 붙지 않도록 여백을 줍니다. */
  padding-right: 8%;
  box-sizing: border-box; /* 패딩을 넣어도 전체 width가 900px로 유지되게 합니다. */
  position: relative; /*로그인 버튼 오른쪽으로 붙이기 위한 기준점*/
}
.headCategory {
  /*상단 카테고리의 키워드*/
  font-family: "Pretendard", sans-serif;
  font-size: 22px;
  color: #fff;
  /*폰트 지정하고 글자 크기, 글자 굵기 설정, 글자 흰색으로 설정*/
  text-decoration: none; /*밑줄 삭제*/
  margin-left: 50px; /*상단 카테고리들의 간격 조절*/
}
.login {
  color: #fff;
  border-color: #fff;
  border-radius: 12px;
  border-style: solid;
  padding: 8px;
  font-family: "Pretendard", sans-serif;
  text-decoration: none; /*밑줄 삭제*/
  font-size: 22px;
  margin-left: 10px;
  left: 8%;
}
.searchIcon {
  margin-left: auto;
  left: 2%;
  cursor: pointer;
  left: 8%;
}
#genre-hover:hover {
  /*마우스를 가져다 대었을때 색바뀌기*/
  background-color: #2c4d38;
  padding: 5px;
  border-radius: 12px;
  margin-left: 40px;
}
#site-hover:hover {
  background-color: #2c4d38;
  padding: 5px;
  border-radius: 12px;
  margin-left: 40px;
}
#webtoonOrWebnovel-hover:hover {
  background-color: #2c4d38;
  padding: 5px;
  border-radius: 12px;
  margin-left: 40px;
}
#subCategory-hover:hover {
  background-color: #2c4d38;
  padding: 5px;
  border-radius: 12px;
  margin-left: 40px;
}
#randomRoulette-hover:hover {
  background-color: #2c4d38;
  padding: 5px;
  border-radius: 12px;
  margin-left: 40px;
}
