@font-face {
  /*Regular두께*/
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  /*Bold두께*/
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-display: swap;
}
.rouletteCard {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 9%;
  width: 550px;
  height: 280px;
  background-color: #e2ece6;
  border-radius: 12px;
  transition: transform 0.6s;
  transform: perspective(800px) rotateY(0deg);
}
.rouletteCard #cardBack {
  font-family: "Pretendard", sans-serif; /*폰트 지정*/
  font-size: 70px;
  font-weight: bold;
  color: #2c4d38;
}
.rouletteCard.flip {
  transform: perspective(800px) rotateY(180deg);
}
.bookCard {
  /*카테고리 페이지의 카드와 같은 속성*/
  display: flex;
  background-color: #fff;
  width: 420px; /*카드 안쪽의 내용물이 바뀌더라도 항상 카드의 크기가 일정하게 하기 위해서*/
  height: 225px;
  color: #222;
  padding: 15px;
  border-radius: 12px;
  font-family: "Pretendard", sans-serif; /*폰트 지정*/
  box-sizing: border-box;
}
.bookName {
  font-size: 20px;
  color: #437355;
  font-family: "Pretendard", sans-serif; /*폰트 지정*/
  font-weight: bold;
}
.bookCover {
  width: 150px;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}
.bookCardText p {
  display: flex;
  align-items: left;
  flex-direction: column;
  margin-left: 15px;
}
.bookCardText-notName {
  font-family: "Pretendard", sans-serif; /*폰트 지정*/
  font-size: 16px;
  color: #222;
}
.DetailPagesLink {
  text-decoration: none; /*밑줄 삭제*/
}
button {
  padding-left: 10%;
  padding-right: 10%;
  padding: 3%;
  margin-top: 5%;
  font-family: "Pretendard", sans-serif; /*폰트 지정*/
  font-size: 24px;
  font-weight: bold;
  color: #437355;
  background-color: #e2ece6;
  border-radius: 12px;
  border: #43735596 solid 2px;
}
button:active {
  background-color: #bbdcc8;
}
#randomRouletteset {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  border-radius: 12px;
  padding: 20px;
  width: 700px;
  height: 500px;
  margin-left: 21%;
  margin-top: 30px;
  border: #4373556e solid 2px;
}
#leftBox {
  width: 19%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  position: fixed;
  top: 0;
  bottom: -1;
  left: 0;
  z-index: -1;
  opacity: 0.1;
}
#rightBox {
  width: 19%;
  height: 100%;
  margin: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  opacity: 0.1;
}
